.Ability {
    z-index: 30;
    position: relative;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #f6f7fd;
    height: auto;
    overflow: hidden;
    /* background-image: url("../marius-cern-WKc_s4P4mQg-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover; */
    color: black;
    background-color: #f6f7fd;
    background-repeat: no-repeat;
    /* background-origin: border-box; */
}

.col-sm-7 .row {
    /* padding-top: 5px; */
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 87px;
}

.Abitlity-img {
    text-align: center;
    width: 50%;
    height: 10em;
}
