.Contact {
    position: relative;
    z-index: 30;
    background-color: white;
    counter-reset: black;
    padding: 50px 0;
}

.Contact-heading {
    border-left: 5px solid #e3872d;
    padding-left: 2rem !important;
}

.Contact-heading h1 {
    font-weight: 600;
    font-size: 50px;
}

.Contact ul {
    list-style: none;
}

.Contact ul li label {
    font-weight: bold;
}

.Contact-button {
    transition: all ease 0.3s;
}

.Contact-button:hover {
    background-color: rgba(7, 23, 55, 0.8) !important;
}

/* Handle the contact form */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #f9f9f9;
    padding: 25px;
    /* margin: 150px 0; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #e3872d;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

#contact button[type="submit"]:hover {
    background: rgba(7, 23, 55, 0.8);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
/* End of handling form */

/* display a message  */
.success {
    background-color: #28a745;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    color: white;
    font-size: 31px;
}

/* dont display a message on fialed */
.faild {
    display: none;
}
