.Home {
    width: 100vw;
    height: 100vh;
    background: url("../pexels-pixabay-372098.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Home-fix {
    z-index: 10;
    color: mistyrose;
}

.Home-fix h1 {
    letter-spacing: 3px;
}

.Home-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    margin-bottom: 33px;
}

.Home-img:hover {
    /* transform: scale(1.1); */
    /* box-shadow: 2px 3px 20px 13px rgba(255, 11, 13, 0.67); */
    /* transform: translate(-10px); */
    box-shadow: 2px 3px 20px 2px #e3872d;
}

.Home-fix p {
    font-size: 24px;
    font-weight: 400;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 23, 55, 0.8);
    z-index: 2;
}

#typing span {
    color: white;
    font-size: 30px;
    font-weight: 500;
}
