* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    /* text-align: center; */
    position: relative;
    transition: all 0.5s ease;
}

.isLoading {
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 18, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg {
    position: fixed;
    left: 0;
    bottom: 20%;
    z-index: 1000;
    cursor: pointer;
}

#svg svg {
    color: #e3872d !important;
}

.handle_button_place {
    left: 18.4% !important;
}

@media screen and (min-width: 1040px) {
    .displayNavbar {
        display: none;
    }
}

@media screen and (max-width: 1039px) {
    .displayNavbar {
        display: block;
    }
    #svg {
        display: none;
    }
    .displaySidebar {
        display: none;
    }
}
